<div class="main">

  <img id="verification" src="/assets/img/activatemobiledata.png" alt="Verification"/>
  <div class="blankspace"></div>

  <div class="child">
    <p>You seem to be an a WiFi network. Please <span class="highlighttext">switch to mobile data</span> and <span
      class="highlighttext">try again</span>.</p>
    <div class="blankspace"></div>
    <button id="moveToDetection" (click)="detectNetworkChange()" class="btn">try again</button>
  </div>

  <div class="blankspace"></div>
</div>
