<div class="main">

  <img id="verification" src="assets/img/startverification.png" alt="Verification"/>
  <div class="blankspace"></div>

  <div class="child">
    <p>In order to <span class="highlighttext">use this service</span> we need to confirm your <span
      class="highlighttext">mobile number</span>.</p>
    <div class="blankspace"></div>
    <button id="moveToDetection" class="btn" (click)="detectNetwork()">get started</button>
  </div>

  <div class="blankspace"></div>
  <img id="logorelario" src="assets/img/logo.png" alt="Logo Relario"/>

</div>
